p, li {
    text-align: justify;
    font-size: 20px;
    color: white;
}

#GitLogo {
    margin-left:25%;
    height: 250px;
    margin-top: auto;                
}

#Flujo_trabajo {
    width:500px;
    margin-left: 10%;
}

#col-center {
    background: lightgray;
}

.jumbotron {
    background: orangered;
    color: white;
    text-align:center;
}

h1, h2, h3, h4 {
    color: white;
}